.rightPanel {
  background-color: #FFFFFF;
}

.rightPanel__container {
  width: 240px;
}

.rightPanel__controls {
  width: 214px;
  height: calc(100vh - 58px);
  margin: 15px auto 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: #FFFFFF;
}

.rightPanel__control input[type="range"] {
  width: 118px;
  height: 2px;
  border-radius: 1px;
  background-color: #AFAFAF;
  margin: 5px 10px;
}

.rightPanel__control {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 121%;
  color: #444444;
}

.rightPanel__control--easing {
  align-self: flex-start;
  width: 116px;
  display: flex;
  gap: 10px;
  /* justify-content: end; */
}

.rightPanel__control--easing label {
  width: 36px;
  padding-left: 10px;
}
.rightPanel__control--easing select {
  width: 77px;
  border: none;
  outline: none;
}
.rightPanel__control--replay {
  align-self: flex-start;
  width: 76px;
  display: flex;
  gap: 10px;
  justify-content: end;
}

input[type="checkbox"] {
  display: none;
}

.rightPanel__control-img {
  width: 20px;
  height: 12px;
}